@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* header */

.header-content{
    display: flex;
    justify-content: space-between;
    margin: 30px 120px;
    align-items: center;
}

.resume-button{
    background-color: transparent;
    padding: 12px 30px;
}

/* banner section */

.banner{
    text-align: center;
    background-image: url('/assets/Hero-bg.png');
    padding: 20px 0;
    margin-bottom: 150px;
}

.banner-title{
    margin-top: 20px;
    line-height: 1.4;
}

.description{
    color: #565656;
    margin: 20px 0;
    line-height: 1.8;
}

.banner-btn{
    padding: 14px 30px;
    background-color: #0D1321;
    color: white;
    border-radius: 5px;
}


/* main */

main{
    margin: 0 150px;
}

/* Web Develop section */

.web-development-section{
    background-color: #f0eeeebb;
    padding: 80px 50px;
    margin-bottom: 100px;
}

.titles{
    text-align: center;
    margin-bottom: 100px;
}

.cards{
    margin: 0 50px;
}
.card-1{
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    gap: 50px;
    display: flex;
    margin-bottom: 20px;
}

.card-title{
    color: #0D1321;
    line-height: 1.6;
}

.card-2{
    background-image: linear-gradient(to left, #ffffff, #ebebeb);
    padding: 50px;
    border-radius: 5px;
    gap: 50px;
    display: flex;
    margin-bottom: 20px;
}