@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* header */

.header-content{
    display: flex;
    justify-content: space-between;
    margin: 30px 120px;
    align-items: center;
}

.resume-button{
    background-color: transparent;
    padding: 12px 30px;
}

/* banner section */

.banner{
    text-align: center;
    background-image: url('/assets/Hero-bg.png');
    padding: 20px 0;
    margin-bottom: 150px;
}

.banner-title{
    margin-top: 20px;
    line-height: 1.4;
}

.description{
    color: #565656;
    margin: 20px 0;
    line-height: 1.8;
}

.banner-btn{
    padding: 14px 30px;
    background-color: #0D1321;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}


/* main */

main{
    margin: 0 150px;
}

/* Web Develop section */

.web-development-section{
    background-color: #f0eeeebb;
    padding: 80px 50px;
    margin-bottom: 100px;
}

.titles{
    text-align: center;
    margin-bottom: 100px;
}

.cards{
    margin: 0 50px;
}

.card-1, .card-2{
    padding: 50px;
    border-radius: 5px;
    gap: 50px;
    display: flex;
    margin-bottom: 20px;
}
.card-1{
    background-color: white;
}

.card-title{
    color: #0D1321;
    line-height: 1.6;
}

.card-2{
    background-image: linear-gradient(to left, #ffffff, #ebebeb);
}

/* My Inspiration section */

.iframe-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* targets section */

.targets-section {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns items in the center horizontally */
}

.targets {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centers items horizontally */
    width: 100%; /* Ensures the targets section spans the full width */
}

.target-1, .target-2, .target-3 {
    padding: 40px;
    border-radius: 5px;
    flex: 1; /* Distributes space equally among targets */
}

.target-1 {
    background-color: #ffe8e8;
}

.target-2 {
    background-color: #d0e2ff;
}

.target-3 {
    background-color: #fff2b0;
}

.target-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.subtitle {
    margin: 15px 0;
}


/* next target section */

.card{
    border: solid 1px #b9b9b9;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
}

/* footer */

footer{
    margin-top: 100px;
}

/* support section */

.support-section {
    margin: 0 150px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to bottom, #00000080, #00000080), url('/assets/handshake.jpg');
    background-position: center;
    padding: 100px 100px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    border-radius: 10px;
}


.paragraph{
    margin-top: 20px;
}

.inputs{
    margin-top: 25px;
}

.input-field{
    border: none;
    border-radius: 5px;
    padding: 12px 20vh;
}

.submit-button {
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}


.footer-content{
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 20px 150px;
}